body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:995px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:0px;
  width:320px;
  height:568px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4 {
  position:absolute;
  left:113px;
  top:50px;
  width:94px;
  height:16px;
  text-align:center;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6 {
  position:absolute;
  left:102px;
  top:490px;
  width:116px;
  height:16px;
  text-align:center;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:60px;
  top:516px;
  width:200px;
  height:15px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u9 {
  position:absolute;
  left:70px;
  top:0px;
  width:61px;
  height:11px;
  font-size:10px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u11 {
  position:absolute;
  left:54px;
  top:0px;
  width:91px;
  height:11px;
  font-size:10px;
  text-align:center;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u13 {
  position:absolute;
  left:60px;
  top:0px;
  width:81px;
  height:11px;
  font-size:10px;
  text-align:center;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:50px;
  top:234px;
  width:220px;
  height:100px;
  overflow:hidden;
  visibility:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u16 {
  position:absolute;
  left:-60px;
  top:40px;
  width:280px;
  height:20px;
  opacity:0.5;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u18 {
  position:absolute;
  left:-50px;
  top:40px;
  width:280px;
  height:20px;
  opacity:0.5;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u20 {
  position:absolute;
  left:-40px;
  top:40px;
  width:280px;
  height:20px;
  opacity:0.5;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u22 {
  position:absolute;
  left:-30px;
  top:40px;
  width:280px;
  height:20px;
  opacity:0.5;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u24 {
  position:absolute;
  left:-20px;
  top:40px;
  width:280px;
  height:20px;
  opacity:0.5;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
}
#u26 {
  position:absolute;
  left:-10px;
  top:40px;
  width:280px;
  height:20px;
  opacity:0.5;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u28 {
  position:absolute;
  left:38px;
  top:274px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u30 {
  position:absolute;
  left:262px;
  top:274px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  overflow:hidden;
  visibility:hidden;
}
#u32_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u34 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:60px;
  top:160px;
  width:200px;
  height:100px;
  overflow:hidden;
  visibility:hidden;
}
#u35_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
  text-align:center;
}
#u36 {
  position:absolute;
  left:80px;
  top:24px;
  width:41px;
  height:16px;
  color:#F2F2F2;
  text-align:center;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:50px;
}
#u38 {
  position:absolute;
  left:90px;
  top:42px;
  width:20px;
  height:50px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
  text-align:center;
}
#u40 {
  position:absolute;
  left:133px;
  top:440px;
  width:51px;
  height:16px;
  color:#F2F2F2;
  text-align:center;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#F2F2F2;
  text-align:center;
}
#u42 {
  position:absolute;
  left:140px;
  top:460px;
  width:36px;
  height:11px;
  font-size:10px;
  color:#F2F2F2;
  text-align:center;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:55px;
  top:160px;
  width:210px;
  height:210px;
  overflow:hidden;
  touch-action:none;
}
#u44_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:210px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u44_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:204px;
}
#u45 {
  position:absolute;
  left:3px;
  top:3px;
  width:204px;
  height:204px;
}
#u46 {
  position:absolute;
  left:2px;
  top:94px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u47 {
  position:absolute;
  left:5px;
  top:5px;
  width:200px;
  height:200px;
}
#u48 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:80px;
  top:80px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:220px;
  top:160px;
  width:100px;
  height:210px;
  overflow:hidden;
  visibility:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:210px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
  text-align:center;
}
#u51 {
  position:absolute;
  left:10px;
  top:97px;
  width:28px;
  height:16px;
  color:#F2F2F2;
  text-align:center;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:50px;
}
#u53 {
  position:absolute;
  left:50px;
  top:80px;
  width:20px;
  height:50px;
}
#u54 {
  position:absolute;
  left:2px;
  top:17px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:210px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
  text-align:center;
}
#u55 {
  position:absolute;
  left:43px;
  top:97px;
  width:28px;
  height:16px;
  color:#F2F2F2;
  text-align:center;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:50px;
}
#u57 {
  position:absolute;
  left:10px;
  top:80px;
  width:20px;
  height:50px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u59 {
  position:absolute;
  left:60px;
  top:165px;
  width:200px;
  height:200px;
  opacity:0.5;
}
#u60 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:330px;
  top:0px;
  width:50px;
  height:244px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  position:absolute;
  left:330px;
  top:276px;
  width:50px;
  height:292px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:330px;
  top:255px;
  width:50px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u64 {
  position:absolute;
  left:58px;
  top:-200px;
  width:200px;
  height:200px;
  opacity:0.800000011920929;
}
#u65 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  overflow:hidden;
  visibility:hidden;
}
#u66_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u66_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  opacity:0.600000023841858;
}
#u68 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u69 {
  position:absolute;
  left:40px;
  top:80px;
  width:60px;
  height:60px;
}
#u70 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u71 {
  position:absolute;
  left:130px;
  top:80px;
  width:60px;
  height:60px;
}
#u72 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u73 {
  position:absolute;
  left:220px;
  top:80px;
  width:60px;
  height:60px;
}
#u74 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u76 {
  position:absolute;
  left:648px;
  top:62px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u78 {
  position:absolute;
  left:695px;
  top:62px;
  width:300px;
  height:73px;
  font-size:12px;
  color:#FF0000;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
